.grup{
    margin: 0px auto ;
    width: 30%;
    padding: 2px 20px;
    margin-top: 5px;
    border: solid 2px #000;
    text-align: left;
}
.grup p{
    padding: 0;
    margin: 2px;
}

.grup p:hover{
    background: rgb(211, 211, 211);
}